/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: rgb(43, 43, 43);
  color: rgb(230, 226, 216);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin-bottom: 0;
}

#banner{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(128, 128, 204);
  border-bottom: 10px outset rgba(0, 0, 0, 0.521);
}

.hide{
  display: none;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

#banner > p{
  margin-top: 0;
  font-size: 0.8rem;
}

.entities{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entities > p{
  margin-top: 0;
}

.entities > h2, #game-buttons, #winner, #error{
  margin-bottom: 5px;
}

  #game-buttons *{
    background-color: rgb(82, 82, 82);
    color: rgb(230, 226, 216);
    border-radius: 4px;
  }

    #winner{
      margin-top: 0;
    }

.entities > h2{
  font-size: 1rem;
}

#winner, #error{
  font-size: 1.5rem;
}

.cards-container{
  width: 800px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards-container *{
 height: 100%;
 opacity: 90%;
}

#game-actions{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.points{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bids, .current{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bids *, .current *{
  margin: 2px 5px;
}

#balance-too-low{
  display: flex;
  align-items: center;
}

#balance-too-low > p{
  margin: 0 5px;
}

#form{
  margin-top: 50px;
}

#form .actions{
	display: flex;
	justify-content: space-around;
}

#form .fields input, #form .actions *{
	background-color: #3B3E45;
  color: white;
}

#form .fields label{
	color: #bcbcbc;
}

#highscore, #highscore-label{
  margin: 10px 0 0 0;
}
#submit-highscore{
  margin-top: 10px;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 800px) {
  .cards-container{
    width: 350px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}